### Some Important Series Methods
- astype
- between
- clip
- drop_duplicates
- isnull
- dropna
- fillna
- isin
- apply
- copy

In [1]:
import numpy as np
import pandas as pd

In [3]:
subs = pd.read_csv(r"C:\Users\Kartik\Downloads\subs.csv",squeeze = True)
subs

C:\Users\Kartik\AppData\Local\Temp\ipykernel_12272\4120565367.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv(r"C:\Users\Kartik\Downloads\subs.csv",squeeze = True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [4]:
vk = pd.read_csv(r"C:\Users\Kartik\Downloads\kohli_ipl.csv",index_col='match_no',squeeze=True)
vk

C:\Users\Kartik\AppData\Local\Temp\ipykernel_12272\2422617411.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv(r"C:\Users\Kartik\Downloads\kohli_ipl.csv",index_col='match_no',squeeze=True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [5]:
movies = pd.read_csv(r"C:\Users\Kartik\Downloads\bollywood.csv",index_col='movie',squeeze=True)
movies

C:\Users\Kartik\AppData\Local\Temp\ipykernel_12272\2682617760.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies = pd.read_csv(r"C:\Users\Kartik\Downloads\bollywood.csv",index_col='movie',squeeze=True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [7]:
# astype
vk.astype('int32') # occupies less memory from int64

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int32

In [11]:
# between --> Checks in a range if value exist or not

vk[vk.between(51,99)]  # both are included in range

match_no
34     58
41     71
44     56
45     67
52     70
57     57
68     73
71     51
73     58
74     65
80     57
81     93
82     99
85     56
97     67
99     73
103    51
104    62
110    82
116    75
117    79
119    80
122    52
127    75
129    54
131    54
132    62
134    64
137    55
141    58
144    57
145    92
148    68
152    70
160    84
162    67
175    72
178    90
188    72
197    51
198    53
209    58
213    73
Name: runs, dtype: int64

In [13]:
# clip

subs.clip(100,200) # changes the number below 100 and above 200 to 100 and 200

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [14]:
# drop_duplicates

temp = pd.Series([1,1,2,2,3,3,4,4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [18]:
# keep function will take the last occurence
temp.drop_duplicates(keep='last') # first occurence was kept other was removed

1    1
3    2
5    3
7    4
dtype: int64

In [20]:
# duplicated is also used
temp.duplicated().sum()

4

In [21]:
# isnull
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [30]:
temp.isnull().sum()

3

In [25]:
temp.size  # size gives null also

10

In [26]:
temp.count()# count doesn't gives null

7

In [31]:
# dropna --> removes null value

temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [33]:
# fillna  ---> if u want to replace missing value with other value

temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [35]:
# isin
vk[(vk == 49) | (vk == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [36]:
# isin solves the above problem

vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [37]:
# apply ---> helps in customizing a custom logic in dataset

movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [38]:
subs.apply(lambda x:'good day' if x > subs.mean() else 'bad day' )

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [39]:
# copy
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [40]:
# When we use head and tail on data we do not get to see a copy
# Rather we get a VIEW of original and if change in head/tail then original also get changed

In [41]:
new = vk.head().copy()

In [46]:
new[1] = 100
print(new)  # Copying will not change original
vk

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64